<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1",width="device-width">
        <title>froshims</title>
    </head>
    <body>
            <form action="/register" method="post">
                <input autocomplete="off" autofocus name="Name" placeholder="Name" type="text">
                <select>
                    <option value="Basketball">Basketball</option>
                    <option value="Volleyball">Volleyball</option>
                    <option value="Football">Football</option>
                </select>
                <button type="submit">register</button>
            </form>
    </body>
</html>